@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
	transition:all ease 0.5s;
}

:hover{
	transition:all ease 0.5s;
}

a.nav-link{
	text-transform: lowercase;
	font-variant: small-caps;
}

section header{
	height:auto;
	min-height: 60vh;
}

section#hello header{
	background:silver url('https://raw.githubusercontent.com/bennett-martin/dno-clase12-02-06/main/plantitas/fondo1.jpg') center center no-repeat;
	background-size:cover;
}

section#work header{
	background:silver url('https://raw.githubusercontent.com/bennett-martin/dno-clase12-02-06/main/plantitas/fondo2.jpg') center center no-repeat;
	background-size:cover;
}

section#contact header{
	background:silver url('https://raw.githubusercontent.com/bennett-martin/dno-clase12-02-06/main/plantitas/fondo3.jpg') center center no-repeat;
	background-size:cover;
}

:target:before {
	content:"";
	display:block;
	height:70px;
	margin:-70px 0 0;
}
body {
    background: rgb(50, 105, 51, 0.6);
}
© 2021 GitHub, Inc.
